
  <section class="vh-100" style="background-color: #2779e2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Album</h1>
          
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <form [formGroup]="albumForm" (ngSubmit)="saveAlbum(albumForm.value)"> 
                    <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Title</h6>
                        </div>
                        <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control-lg" formControlName="title">
                        <span class="text-danger" *ngIf="albumForm.controls['title'].hasError('required') && albumForm.touched">Title is required!</span>
                        </div>
                    </div>

                    <input type="hidden" class="form-control form-control-lg" formControlName="id">

                    <hr class="mx-n3">
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
                        <h6 class="mb-0">User Id</h6>
                        </div>
                        <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control-lg" formControlName="userId">
                        <span class="text-danger" *ngIf="albumForm.controls['userId'].hasError('required') && albumForm.touched">User Id is required!</span>
                        </div>
                    </div>
        
                    <hr class="mx-n3">
                    <div class="px-5 py-4">
                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="albumForm.invalid">Submit</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>